@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 35px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background: linear-gradient(45deg,darkblue,rgb(238, 4, 78));
    padding: 20px;
}
sup,.note
{
    color: red;
    font-weight: 500;
}

.container {
    position: relative;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
    background: white;
    padding: 30px;
    padding-bottom: 15px;
    border: 1.5px solid black;
    border-radius: 8px;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 550px;
    max-height: 85vh;
}

.registration-form h1 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-top: 15px;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container .icon {
    position: absolute;
    left: 12px;
    bottom: 17px;
    margin-right: 10px;
    color: #191919;
}

input[type="text"],input[type="email"],input[type="password"]{
    width: 100%;
    height: 50px;
    margin-top: 8px;
    padding-left: 35px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
}

.form-group input:focus {
    border-color: #076bd5;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.25);
}

.form-group button{
    
    width: 50%;
    height: 8vh;
    max-height: 8vh;
    padding: 12px;
    background: #015fc4;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    margin-left: 25%;
    margin-right: 28%;
}

.form-group button:hover {
    background: #0000b3;
    transform: scale(1.05);
}

.form-group button:active {
    transform: scale(1);
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .registration-form h2 {
        font-size: 22px;
    }

    .form-group input,
    .form-group button {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .registration-form h2 {
        font-size: 20px;
    }

    .form-group input,
    .form-group button {
        padding: 8px;
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .registration-form h2 {
        font-size: 18px;
    }

    .form-group input,
    .form-group button {
        padding: 6px;
        font-size: 10px;
    }
}

::-webkit-scrollbar
{
    width: 5px;
}

::-webkit-scrollbar-thumb
{
    background:rgba(25, 0, 255, 0.676);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover
{
    background:rgba(4, 0, 255, 0.5);
}
